@font-face {

	font-family: 'Shnobel Regular';

	src: url('fonts/20833.ttf');

}

.choice-container {
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
}
.choice-container>*:first-child {
  margin-right: 10px;
}
button.choice-size {
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  border-radius: 25%;
}
button.x3 {
  background: rgb(118, 210, 93);
  background-image: url('img/3x3.svg');
}
button.x5 {
  background: rgb(210, 170, 93);
  background-image: url('img/15x15.svg');
}

body {
  margin: 0px;
  padding: 0;
  font-family: "Comic Sans MS", cursive, sans-serif;
  background: linear-gradient(45deg, #EECFBA96, #C5DDE8D9);
  background-attachment: fixed;
}
h1 {
  margin: 0;
  font-size: 9vh;
  font-family: "Shnobel Regular", cursive, sans-serif;
}
#pole {
  display: flex;
  min-height: 500px;
  height: 90vh;
}
#pole>*{
  margin: auto;
  width: 80vmin;
  height: 80vmin;
}
#pole td {
  padding: 30px;
  background-color: #9daff494;
  border-radius: 40%;
  cursor: pointer;
  user-select: none;
  min-width: 25px;
  height: 25px;
  text-align: center;
}
#pole td:hover {
  background-color: #9daff4;
}

.stopGame {
  padding: 5px;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
}
.stopGame:hover {
  color: #ffe7e7;

}
#nowTurn {
  width: 100%;
  text-align: center;
}
#nowTurn>span {
  font-size: xx-large;
}
#inGameMenu {
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  width: 100%;
  align-items: center;
  font-size: xx-large;
}

header {
  height: 9vh;
  display: flex;
  justify-content: center;
  padding-bottom: 1vh;
  background-color: #4dcdff3d;
  background-image: linear-gradient(180deg, rgba(255,255,255,0.4962185557816877) 0%, rgba(77, 205, 255, 0.16) 50%);
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}


article.mainMenu {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 90vh;
}
article.mainMenu>*:first-child {

}
article.mainMenu>* {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  padding: 10px;
  min-width: 300px;
}
.button-start-game {
  margin: auto;
  background-image:  radial-gradient(circle, rgba(55,177,53,0.8) 0%, rgba(226,226,226,0.5) 50%, rgba(55,177,53,0.8) 100%);
  border: thick;
  border-radius: 50%;
  font-family: inherit;
  height: 25vmin;
  width: 25vmin;
  font-size: 5vmin;
}
.button-start-game:hover {
  background-image:  radial-gradient(circle, rgba(54,177,53,1) 0%, rgba(226,226,226,0.8) 50%, rgba(100,127,53,1) 100%);
  color: #261919;
}


.settings {
  border-style: dotted;
  border-width: 10px;
  border-color: #4a4a4a;
  background-color: #bfd8ca3d;
  flex-direction: column;
  height: 100%;
}
.settings>* {
  margin-left: auto;
  margin-right: auto;
}
.settings>p {
  font-size: large;
}
.settings input[type="number"] {
  border-radius: 50%;
  text-align: center;
}
.settings input[type="checkbox"] {
  width: 5vmin;
  height: 5vmin;
}
